
.main-text {
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size:4.5vw;
}

#myRandomDiv{
  padding-top:25px;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight:100;
  font-size: 1.5vw;
}

.main{
  margin-left: auto;
  margin-right: auto;
    width: 80%;
    padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
